<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header"><title>Head</title></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<h3 class="text-center">
    Проект job4j_dreamjob, выполняемый в рамках курса
</h3>
<div class="container text-center mt-4">
    <a class="btn btn-primary mr-2" th:href="@{/vacancies}">Вакансии</a>
    <a class="btn btn-primary mr-2" th:href="@{/candidates}">Кандидаты</a>
    <a class="btn btn-success mr-2" th:href="@{/vacancies/create}">Создать вакансию</a>
    <a class="btn btn-success mr-2" th:href="@{/candidates/create}">Создать резюме</a>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
